# ------
# Common
# ------
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.vs/
.vscode/

# -----------------------
# Local Development Tools
# -----------------------
/node_modules
/npm-debug.log

# ---------------
# Compiled assets
# ---------------
.sass-cache
.eslintrc
.jekyll-cache/
designs/favicon.psd
.GeneratedMSBuildEditorConfig.editorconfig
