/**
 * Variables (_variables.scss)
 */

/* ----- Colors ----- */
// General
$color-white: #fff !default;
$color-black: #000 !default;
$color-dark: #333 !default;
$color-dark-blue: #00a4ef !default;
$color-yellow: #f6d000 !default;

// Base
$color-h2-border: #dadada !default;
$color-horizontal-rule: #dadada !default;
$color-list-prefix: #a0a0a0 !default;
$color-definition-list: #8a8a8a !default;
$color-table-border: #f5f5f5 !default;
$color-table-header-border: #ececec !default;
$color-table-header-bg: #f5f5f5 !default;

// Code
$color-code: #c0341d !default;
$color-code-bg: #fcefed !default;
$color-pre: #f8f8f2 !default;
$color-pre-border: #3c4654 !default;

// Section
$color-section-grey: #f5f5f5 !default;

// Callouts
$color-callout: #f9f9f9 !default;
$color-callout-success: #eaffee !default;
$color-callout-info: #f2f8ff !default;
$color-callout-warning: #fffae9 !default;
$color-callout-danger: #ffedeb !default;

// Footer
$color-footer-bg: #75757a !default;
$color-footer-copyright: #ebebeb !default;

// Social list
$color-social-item: #bdbdbd !default;

// Search
$grey-lt-100: #eeebee !default;
$search-background-color: $color-white !default;
$body-background-color: $color-white !default;
$link-color: $color-dark-blue !default;
$grey-dk-000: #959396 !default;
$sidebar-color: $grey-lt-100 !default;
$feedback-color: darken($sidebar-color, 3%) !default;
$search-result-preview-color: $grey-dk-000;

// Themes
$color-theme-msft: #ebebeb !default;
$color-theme-green: #F0FAE6 !default;
$color-theme-blue: #E8F2FC !default;
$color-theme-purple: #FDE8F8 !default;
$color-theme-red: #FFECE6 !default;
$color-theme-yellow: #FCFDE8 !default;

/* ----- Font families ----- */
$font-family-primary: 'Noto Sans', sans-serif !default;
$font-family-secondary: 'Montserrat', sans-serif !default;
$font-family-monospace: 'Source Code Pro', monospace !default;

/* ----- Font sizes ----- */
// Base
$font-size-base: 1em !default;

// Headings
$font-size-h1: 2.5em !default;
$font-size-h2: 2em !default;
$font-size-h3: 1.75em !default;
$font-size-h4: 1.5em !default;
$font-size-h5: 1.25em !default;
$font-size-h6: 1em !default;

// Other
$font-size-small: 0.75em !default;

/* ----- Line heights ----- */
// Base
$line-height-base: 1.8em !default;

// Headings
$line-height-headings: 1.5em !default;

/* ----- Z Indexes ----- */
$z-index-offcanvas: 2 !default;
$z-index-offcanvas-toggle: 3 !default;

/* ----- Media queries breakpoints ----- */
// Mobile first
$screen-xs-min: 480px !default; // Extra small screens, Phones
$screen-sm-min: 768px !default; // Small screens, Tablets
$screen-md-min: 992px !default; // Medium screens, Desktop
$screen-lg-min: 1200px !default; // Large screens, Wide desktops

// Desktop first
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

/* ----- Grid system ----- */
// Columns
$grid-columns: 12 !default;

// Gutter
$grid-gutter-width: 30px !default;

// Container
$container-tablet: (720px + $grid-gutter-width) !default;
$container-sm: $container-tablet !default;
$container-desktop: (940px + $grid-gutter-width) !default;
$container-md: $container-desktop !default;
$container-large-desktop: (1140px + $grid-gutter-width) !default;
$container-lg: $container-large-desktop !default;

// tifchen

//
// Spacing
//

$spacing-unit: 1rem; // 1rem == 16px

$spacers: (
  sp-0: 0,
  sp-1: $spacing-unit * 0.25,
  sp-2: $spacing-unit * 0.5,
  sp-3: $spacing-unit * 0.75,
  sp-4: $spacing-unit,
  sp-5: $spacing-unit * 1.5,
  sp-6: $spacing-unit * 2,
  sp-7: $spacing-unit * 2.5,
  sp-8: $spacing-unit * 3,
  sp-9: $spacing-unit * 3.5,
  sp-10: $spacing-unit * 4,
) !default;

$sp-1: map-get($spacers, sp-1) !default; // 0.25 rem == 4px
$sp-2: map-get($spacers, sp-2) !default; // 0.5  rem == 8px
$sp-3: map-get($spacers, sp-3) !default; // 0.75 rem == 12px
$sp-4: map-get($spacers, sp-4) !default; // 1    rem == 16px
$sp-5: map-get($spacers, sp-5) !default; // 1.5  rem == 24px
$sp-6: map-get($spacers, sp-6) !default; // 2    rem == 32px
$sp-7: map-get($spacers, sp-7) !default; // 2.5  rem == 40px
$sp-8: map-get($spacers, sp-8) !default; // 3    rem == 48px
$sp-9: map-get($spacers, sp-9) !default; // 3.5  rem == 56px
$sp-10: map-get($spacers, sp-10) !default; // 4  rem == 64px

$transition-duration: 400ms;

//
// Borders
//

$border: 1px solid !default;
$border-radius: 4px !default;
$border-color: $grey-lt-100 !default;


//
// Grid system
//

$gutter-spacing: $sp-6 !default;
$gutter-spacing-sm: $sp-4 !default;
$nav-width: 264px !default;
$nav-width-md: 248px !default;
$nav-list-item-height: $sp-6 !default;
$nav-list-item-height-sm: $sp-8 !default;
$nav-list-expander-right: true;
$content-width: 800px !default;
$header-height: 60px !default;
$search-results-width: $content-width - $nav-width !default;
$transition-duration: 400ms;

//
// Media queries in pixels
//

$media-queries: (
  xs: 320px,
  sm: 500px,
  md: $content-width,
  lg: $content-width + $nav-width,
  xl: 1400px,
) !default;


@mixin mq($name) {
    // Retrieves the value from the key
    $value: map-get($media-queries, $name);
  
    // If the key exists in the map
    @if $value != null {
      // Prints a media query based on the value
      @media (min-width: rem($value)) {
        @content;
      }
    } @else {
      @warn "No value could be retrieved from `#{$media-query}`. "
        + "Please make sure it is defined in `$media-queries` map.";
    }
  }

@mixin fs-4 {
    font-size: $font-size-base !important;
  
    @include mq(sm) {
      font-size: $font-size-h1 !important;
    }
  }

@mixin fs-3 {
    font-size: $font-size-h3 !important;
  
    @include mq(sm) {
      font-size: $font-size-h4 !important;
    }
  }

@mixin fs-2 {
    font-size: $font-size-h2 !important;
  
    @include mq(sm) {
      font-size: $font-size-h3 !important;
    }
  }

  @mixin fs-1 {
    font-size: $font-size-h1 !important;
  
    @include mq(sm) {
      font-size: $font-size-base !important;
    }
  }