<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>

    <footer class="site-footer">
        <div class="container">
            <div class="row"></div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <hr>
                    <p class="site-footer__copyright">Copyright &copy; 2022. - Microsoft, Inc. <br>All rights reserved.</p>
                </div><!-- /.col -->
                <div class="col-3"></div>
                    <img alt="Microsoft Azure logo." src="/Mastering-the-Marketplace/assets/logo-footer.png" class="site-footer__logoimage">
                <div class="col-2"></div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </footer><!-- /.site-footer -->

</body>
</html>