/**
 * Site footer (components/_site-footer.scss)
 */

/* ----- General ----- */
.site-footer {
	background-color: $color-footer-bg;
	padding: 3.75rem 0 (3.75rem - 1.25rem) 0;

	hr {
		width: 5.625rem;
	}
}

/* ----- Logo ----- */
.site-footer__logo {
	@include link-reset;
	display: inline-block;
	color: $color-footer-copyright;
	font-family: $font-family-secondary;
	font-size: $font-size-h3;
	font-weight: 700;
	vertical-align: top;
	margin: 0 0 1.25rem 0;

	img {
		display: block;
		width: 15.625rem;
	}
}


.site-footer__logoimage {
	max-width: 50%;
	max-height: 50%;
	min-width: 25%;
	min-height: 25%;
	vertical-align: top;
}


/* ----- Copyright ----- */
.site-footer__copyright {
	color: $color-footer-copyright;
	font-size: .875em;
	line-height: $line-height-base;
}
