:root > * {
    --md-primary-fg-color: #0078D4;
}

[dir=ltr] .md-header__title {
    margin-left: 0;
}

.landing-tile {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding-right: 5%;
    margin: 1%;
    height: auto;
    margin-left:0;
    margin-bottom: 2em;
}

.landing-tile h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
    .landing-tile {
        position: relative;
        display: block;
        width: 90%;
        margin-bottom: 3em;
        height: auto;
    }
}

.description {
    color: #0078D4;
}
