doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class='p-2')

    main(class='container' style='max-width: 720px')
        div(class='d-flex align-items-center p-3 my-1 bg-azure-light-gray rounded shadow-sm')
            img(class='me-3', src='/images/Azure-A-48px-product.svg', alt='', width='48', height='48')
            div(class='1h-1')
                h1(class='h3 mb-0 text-azure-blue lh-1') Azure Todo List
                small(class='text-black') Markplace Container Offer Sample Application


        block content
    script(src='/js/bootstrap.min.js')


